.signin
{
    
    
    &__heading
    {
        > h1 
        {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 5rem;
        }
    }
    &__form
    {
        max-width: 21.875em;
        margin: 0 auto;

        
        
    }
    
}