.signup
{
    &__heading
    {
        > h1 
        {
            text-align: center;
            margin-bottom: 5rem;
        }
        text-align: center;
    }

    &__form
    {
        max-width: 21.875em;
        margin: 0 auto;

    }


}