.header 
{
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;

    

    &__hmenu
    {
        > span
        {
            display: block;
            width: 1.625rem;
            height: 3px;
            background-color: $darkGrayishBlue;
            &:not(:last-child)
            {
                margin-bottom: 5px;
            }
        }
    }

    &__signin
    {
        position: relative;
        &:hover 
        {
            .header__dropdown
            {
                display: block;
            }

        }
    }

    &__dropdown
    {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.05);
        width: 100%;
        // top: 50px;
        padding-top: 1rem;
        padding-left: 10%;
        z-index: 1;

        a 
        {
            display: inline-block;
            font-size: 1rem;
            
            
            margin-bottom: 0.875rem;
        
            
        }
    }

    &__mmenu
    {
        position: absolute;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.1);
        width: calc(100% - 48px);
        margin: 0 auto;
        
        padding: 2rem;
        border-radius: 10px;

        &.visible
        {
            visibility: visible;
        }
        a 
        {
            display: inline-block;
        }

        a:not(:last-child)
        {
            margin-bottom: 1rem;
        }

    }


    


    
    
    
    
}